html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}

/* Navigation Bar */
.top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B0E0E6;
    height: 110px;
}

.website-name {
    display: flex;
    align-items: center;
    font-size: 35px;
    column-gap: 12px;
}

.website-name img {
    width: 250px;
    height: 120px;
    margin-left: 20px;
}

/* .nav-details {
    font-size: 28px;
} */

.nevigation {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-size: 28px;
    padding: 5px;
    border: 2px solid #B0E0E6;
}

.fa-solid.fa-cart-shopping,
.fa-solid.fa-user,
.fa-solid.fa-magnifying-glass {
    color: black;
}

.fa-solid.fa-cart-shopping:hover {
    color: rgb(149, 147, 147);
}

.fa-solid.fa-user:hover {
    color: gray;
}

.fa-solid.fa-magnifying-glass:hover {
    color: gray;
}



.awesome-logo {
    margin-right: 20px;
    font-size: 28px;
    padding: 5px;
    border: 2px solid #B0E0E6;
}

.awesome-logo:hover {
    margin-right: 20px;
    font-size: 28px;
    padding: 5px;
    color: grey;
}

.nevigation:hover {
    font-size: 28px;
    color: rgb(0, 0, 0);
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
}




/* Sliding Images */
* {
    box-sizing: border-box
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: black;
    font-size: 70px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}


/* Shop Section */
.hasib:hover {
    box-shadow: 2px 2px 8px gray;
    transform: scale(1.02);
    transition: transform 0.8s ease;
}

.container {
    margin: 30px auto;
    background-color: #B0E0E6;
}

.navbar-nav .nav-link {
    color: #000 !important;
    padding: 0.5rem 0rem !important;
    border-color: transparent;
    margin-left: 1.5rem;
    transition: none
}

.navbar .navbar-toggler:focus {
    box-shadow: none
}

.navbar-nav .nav-link.active,
.border-red {
    border-bottom: 3px solid #b71c1c
}

.navbar-nav .nav-link:hover {
    border-bottom: 3px solid #b71c1c
}

.container .product-item {
    min-height: 450px;
    border: none;
    overflow: hidden;
    position: relative;
    border-radius: 0
}

.container .product-item .product {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    cursor: pointer
}

.container .product-item .product img {
    width: 100%;
    height: 100%;
    object-fit: scale-down
}

.container .product-item .product .icons .icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease;
    transform: rotate(180deg);
    cursor: pointer
}

.container .product-item .product .icons .icon:hover {
    background-color: #b71c1c;
    color: #fff
}

.container .product-item .product .icons .icon:hover .fa-cart-shopping {
    background-color: #b71c1c;
    color: #fff
}

.fa-solid.fa-cart-shopping {
    color: #000;
}

.container .product-item .product .icons .icon:nth-last-of-type(3) {
    transition-delay: 0.2s
}

.container .product-item .product .icons .icon:nth-last-of-type(2) {
    transition-delay: 0.15s
}

.container .product-item .product .icons .icon:nth-last-of-type(1) {
    transition-delay: 0.1s
}

.container .product-item:hover .product .icons .icon {
    transform: translateY(-60px)
}

.container .product-item .tag {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 0 0.4rem
}

.container .product-item .title {
    font-size: 0.95rem;
    letter-spacing: 0.5px
}

.container .product-item .fa-star {
    font-size: 0.65rem;
    color: goldenrod
}

.container .product-item .price {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600
}

.fw-800 {
    font-weight: 800
}

.bg-green {
    background-color: #208f20 !important;
    color: #fff
}

.bg-black {
    background-color: #1f1d1d;
    color: #fff
}

.bg-red {
    background-color: #bb3535;
    color: #fff
}

@media (max-width: 767.5px) {

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link:hover {
        background-color: #b71c1c;
        color: #fff !important
    }

    .navbar-nav .nav-link {
        border: 3px solid transparent;
        margin: 0.8rem 0;
        display: flex;
        border-radius: 10px;
        justify-content: center
    }
}


/* Popular categories */
.popular {
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popular h2 {
    font-size: 40px;
}

.popular_categories {
    display: flex;
    flex-grow: 2;
    gap: 20px;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 50px;

}

.items-1 {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #f1eded;
    border-radius: 7px;
    padding-top: 0;
}

.items-1 p {
    padding-top: 15px;
    padding-left: 9px;
    padding-right: 9px;
    margin: 0;
    font-size: 20px;
    padding-bottom: 0;
    text-align: center;
}

.items-1 img {
    padding-bottom: 0;
    padding-top: 0;
    object-fit: scale-down;

}

.items-2 img {
    padding-bottom: 0;
    margin-bottom: 0;
    object-fit: cover;
    padding-top: 0;
    margin-top: 0;

}

.items-1:hover {
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    width: 200px;
    background-color: #75c0ca;
    border-radius: 7px;
    padding-top: 0;
    color: white;
}





/* Feature Products */

/* PRODUCTS */
.product {
    position: relative;


}

.product-category {
    padding: 0 7vw;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    padding: 0 7vw;
    display: flex;
    scroll-behavior: smooth;
    overflow-x: auto;

}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 500px;
    margin-right: 40px;
    border: 2px solid rgb(40, 184, 223);
    border-radius: 10px;

}

.product-card:hover .product-image {
    transform: scale(1.12);
    transition: transform 0.8s ease;

}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
}

.product-image img {
    object-fit: scale-down;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #67bcc7;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #67bcc7;
    color: #fff;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
}

.product-brand {
    text-transform: uppercase;
}

.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price {
    font-weight: 900;
    font-size: 20px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
    background-color: rgb(214, 209, 209);
    padding: 10px;
    border-radius: 8px;
}

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection {
    position: relative;
}

.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

.collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
}

/* Added Footer */
footer {
    background-color: rgb(39, 36, 36);
    height: 100%;
    width: 100%;
}

.about-us {
    display: block;
    justify-content: center;
    margin-top: 100px;
    padding-top: 50px;
    column-gap: 100px;
    color: white;
    margin-bottom: 50px;
}

.image-2 {
    margin-left: 43%;
    margin-right: 40%;
}

.terms {
    display: flex;
    justify-content: space-around;
    margin-left: 240px;
    margin-right: 240px;
}

.terms a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
}

.terms a:hover {
    color: #ffe000;
}

.first-horizontal-line {
    width: 1180px;
}

.address {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.addrese-bar {
    color: white;
}

.Raowzan {
    font-size: 18px;
}

.social-media a {
    text-decoration: none;
    color: white;
    margin-right: 35px;
    font-size: 25px;
}

.social-media a:hover {
    color: #ffe000;
}

/* font awesome color */
.fa-solid {
    color: #ffe000;
}

.second-horizontal-line {
    border: 1px solid rgb(57, 56, 56);
}

.copy-rights {
    text-align: center;
    color: white;
}





/*****************
 Seaarch Bar section 
 *******************/
.body {
    padding-top: 75px;
}

.search-container {
    width: 490px;
    display: block;
    margin: 0 auto;
}

input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;

    &:focus {
        border: 1px solid #008ABF;
        transition: 0.35s ease;
        color: #008ABF;

        &::-webkit-input-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &::-moz-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }

        &:-ms-placeholder {
            transition: opacity 0.45s ease;
            opacity: 0;
        }
    }
}

.search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
}